<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Edit User</h4>
            <p class="card-category">Edit the users data</p>
          </div>
          <div class="card-body">
            <form [formGroup]="form">
              <div class="row">
                <div class="col-md-5">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Name" formControlName="name">
                    <mat-error>{{getErrorMessage(this.form.get('name'))}}</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-3">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Username" formControlName="username">
                    <mat-error>{{getErrorMessage(this.form.get('username'))}}</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email address" type="email" formControlName="email">
                    <mat-error>{{getErrorMessage(this.form.get('email'))}}</mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="row" formGroupName="passwordGroup">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="password" type="password" formControlName="password">
                    <mat-error>{{getErrorMessage(this.form.get('passwordGroup.password'))}}</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="password" type="password" formControlName="repeatPassword">
                    <mat-error>{{getErrorMessage(this.form.get('passwordGroup.repeatPassword'))}}</mat-error>
                  </mat-form-field>
                </div>
              </div>

              <button (click)="updateUser()" mat-raised-button type="submit" class="btn btn-danger pull-right">Update
                User
              </button>
              <div class="clearfix"></div>
            </form>
          </div>
          <div class="card-footer">
            Created on: {{user.created | date:'dd/MM/yyy'}},
            Last edited on: {{user.updated | date:'dd/MM/yyy'}}
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <a href="javascript:void(0)">
              <img class="img" src="./assets/img/faces/marc.jpg"/>
            </a>
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">CEO / Co-Founder</h6>
            <h4 class="card-title">Alec Thompson</h4>
            <p class="card-description">
              Don't be scared of the truth because we need to restart the human foundation in truth And I love you like
              Kanye loves Kanye I love Rick Owens’ bed design but the back is...
            </p>
            <a href="javascript:void(0)" class="btn btn-danger btn-round">Follow</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
