<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Projects</h4>
                      <p class="card-category"> Those are all the procects (active, suspended, etc) </p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      ID
                                  </th>
                                  <th>
                                      Name
                                  </th>
                                  <th>
                                      Unit
                                  </th>
                                  <th>
                                      Sponsor
                                  </th>
                                  <th>
                                      Created on
                                  </th>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let pr of projectRequests">
                                      <td>
                                          {{pr._id}}
                                      </td>
                                      <td>
                                          {{pr.name}}
                                      </td>
                                      <td>
                                          {{pr.unit}}
                                      </td>
                                      <td>
                                          {{pr.sponsor}}
                                      </td>
                                      <td>
                                          {{pr.created | date:'dd/MM/yyyy'}}
                                      </td>
                                  </tr>
                                  
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
